{% extends "core/base.html" %}
{% load static %}
{% block content %}
  <main>

    <BR><BR><BR><BR><BR><BR>
    <center>


      <center>
        <h1>Crear Cuenta</h1>
      </center>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label"> Ingresar nombre de Usuario</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="usuario" required>
        <div class="valid-feedback">
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Crear contraseña</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="contraseña" required>
        <div class="valid-feedback">
        </div>

      </div>
      <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">Ingresar email</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
          <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
            required>
          <div class="invalid-feedback">
            Porfavor ingresa un Email.
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <label class="form-check-label">RUT</label>
        <input type="radio" class="form-check-input" name="flexRadioDefault" id="RUT" />
        <label class="form-check-label">PASAPORTE</label>
        <input type="radio" class="form-check-input" name="flexRadioDefault" id="rbtnPasaporte" /><br>
        <input type="text" class="form-control" id="txtidentificador"
          placeholder="Si es rut ingrese sin puntos y con -" /><br>
      </div>

      </div>
      <div class="col-md-4">
        <label>region</label>
        <select class="form-select" id="cbxCiudad">
          <option value="0" selected>--Debe Seleccionar la region</option>
          <optgroup label="Chile">
            <option value="1">Region de Arica y Parinacota</option>
            <option value="1">Region de Tarapaca</option>
            <option value="1">Region de Antofagasta</option>
            <option value="1">Region de Atacama</option>
            <option value="1">Region de Coquimbo</option>
            <option value="1">Region de Valparaiso</option>
            <option value="1">Region Metropolitana</option>
            <option value="1">Region de O'Higgins</option>
            <option value="1">Region de Maule</option>
            <option value="1">Region del Ñuble</option>
            <option value="1">Region del Biobío</option>
            <option value="1">Region de la Araucanía</option>
            <option value="1">Region de los Ríos</option>
            <option value="1">Region de los Lagos</option>
            <option value="1">Region de Aysén</option>
            <option value="1">Region de Magallanes</option>
          </optgroup>
      </div>
      <br><br>

      <input type="radio" class="form-check-input" name="radiomovilizacion" id="rbtnavion" />
      <label class="form-check-label">Hombre</label> <br>
      <input type="radio" class="form-check-input" name="radiomovilizacion" id="rbtnauto" />
      <label class="form-check-label">Mujer</label>

      </div>

      <div class="but" class="col-12">
        <br>


        <button class="btn btn-primary" id="btncrearcuenta">Crear cuenta</button>
      </div>
    </center>
  </main>

  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="{% static 'JS/Mainn.js' %}"></script>
{% endblock %}